# Variables de entorno — NUNCA subir al repositorio
.env
.env.local
.env.production

# Dependencias
node_modules/

# Build
dist/
build/

# Prisma
prisma/migrations/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
